In [1]:
print("Hello")

Hello

In [2]:
a = 3
b = 4

In [3]:
a

3

In [4]:
print(a)

3

In [12]:
print("+:", 3 + 4)
print(3 - 4)
print(3 * 4)
print(3 / 4)
print(3 // 4)
print("Mod:", 5 % 4)
print(3 ** 4)

+: 7
-1
12
0.75
0
Mod: 1
81

In [15]:
print(2 ** 100)

1267650600228229401496703205376

In [32]:
for j in range(2, 5):  # iteration
    print(j)

print(j)

2
3
4
4

In [33]:
count = 10
i = 0
while i < count:
    i += 1
    print(i)
print("END OF WHILE")
print(i)

1
2
3
4
5
6
7
8
9
10
END OF WHILE
10

In [ ]:
i *= 2  # i = i * 2

In [44]:
score = input("Please input your score: ")
score = int(score)  # cast to int
# print(type(score))
if score < 60:
    print("You are fail!")
elif score < 50:
    print("NICE!")
elif score < 80:
    print("NICE!")    
else:
    print("You are great!")

Please input your score: 65
NICE!

In [78]:
def funName(x):  # f(x) = 2x + 3 = y
#     print("This is a function!")
    y = 2 * x + 3 
    return y, x

In [86]:
print(funName(5)[0])
print(funName(5)[1])
a, b = funName(5)
print(a, b)

13
5
13 5

In [54]:
a

3

In [56]:
c = 10

In [57]:
c

10

In [58]:
funName

In [113]:
def sumBaSu(x, y, z):
    sum_all = 0
    for i in range(x + 1):
#         if i // 10 == z or i == 5:
        if str(i)[0] == str(z):
            continue  # break
        if i % y == 0:
            sum_all += i
    return sum_all

In [114]:
for j in range(2, 10):
    print(j, "ÁöÑÂÄçÊï∏Á∏ΩÂíå", sumBaSu(100, j, 5))

2 ÁöÑÂÄçÊï∏Á∏ΩÂíå 2280
3 ÁöÑÂÄçÊï∏Á∏ΩÂíå 1521
4 ÁöÑÂÄçÊï∏Á∏ΩÂíå 1192
5 ÁöÑÂÄçÊï∏Á∏ΩÂíå 940
6 ÁöÑÂÄçÊï∏Á∏ΩÂíå 762
7 ÁöÑÂÄçÊï∏Á∏ΩÂíå 679
8 ÁöÑÂÄçÊï∏Á∏ΩÂíå 568
9 ÁöÑÂÄçÊï∏Á∏ΩÂíå 540

In [120]:
str(23)[1]

'3'

In [115]:
def sumBaSu2(x, y, z):
    sum_all = 0
    for i in range(x + 1):
        if i % y == 0:
            if str(i)[0] == str(z):
                continue
            sum_all += i
    return sum_all

In [116]:
for j in range(2, 10):
    print(j, "ÁöÑÂÄçÊï∏Á∏ΩÂíå", sumBaSu2(100, j, 5))

2 ÁöÑÂÄçÊï∏Á∏ΩÂíå 2280
3 ÁöÑÂÄçÊï∏Á∏ΩÂíå 1521
4 ÁöÑÂÄçÊï∏Á∏ΩÂíå 1192
5 ÁöÑÂÄçÊï∏Á∏ΩÂíå 940
6 ÁöÑÂÄçÊï∏Á∏ΩÂíå 762
7 ÁöÑÂÄçÊï∏Á∏ΩÂíå 679
8 ÁöÑÂÄçÊï∏Á∏ΩÂíå 568
9 ÁöÑÂÄçÊï∏Á∏ΩÂíå 540

In [124]:
ord("üòÇ")

128514

In [125]:
chr(128514)

'üòÇ'

In [126]:
greeting = "Hello"

In [128]:
greeting.count("l")

2

In [132]:
greeting.startswith("Hell")

True

In [133]:
greeting.endswith("o")

True

In [134]:
greeting.split("e")

['H', 'llo']

In [135]:
"My name is Steve".split(" ")

['My', 'name', 'is', 'Steve']

In [ ]:
greeting.strip

In [137]:
list1 = [12, 34, 56]

In [138]:
list1[0]

12

In [139]:
list1[-1]

56

In [142]:
print(list1.append("SS"))

None

In [147]:
print(list1)
list1.insert(-2, 23)
print(list1)

[12, 23, 34, 56, 'SS', 'SS']
[12, 23, 34, 56, 23, 'SS', 'SS']

In [150]:
list1.extend([12, 12, 12, 13])
print(list1)

[12, 23, 34, 56, 23, 'SS', 'SS', 12, 12, 12, 12, 13]

In [151]:
list1.remove(12)

In [152]:
print(list1)

[23, 34, 56, 23, 'SS', 'SS', 12, 12, 12, 12, 13]

In [153]:
list1.remove(12)

In [154]:
print(list1)

[23, 34, 56, 23, 'SS', 'SS', 12, 12, 12, 13]

In [155]:
list1.pop()

13

In [156]:
list1

[23, 34, 56, 23, 'SS', 'SS', 12, 12, 12]

In [160]:
list2 = list(range(2, 100, 3))

In [162]:
for i in list2:
    print(i)

2
5
8
11
14
17
20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89
92
95
98

In [163]:
dict1 = {"a": "apple", "b": "banana"}

In [165]:
dict1["a"]

'apple'

In [166]:
dict1["b"]

'banana'

In [167]:
dict1["c"] = "cherry"

In [168]:
dict1

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [169]:
dict1["a"] = "aaa"

In [170]:
dict1

{'a': 'aaa', 'b': 'banana', 'c': 'cherry'}

In [178]:
import random

random.seed(0)
random_list  = []
for _ in range(1_000):
    random_list.append(random.randint(1, 10))

In [180]:
dict2 = {}
list1 = [1, 2, 1, 2, 2, 1]
for i in list1:
    if i in dict2:
        dict2[i] += 1
    else:
        dict2[i] = 1

In [195]:
dict_random = {}
for i in random_list:
    dict_random[i] = dict_random.get(i, 0) + 1
#     if i in dict_random:
#         dict_random[i] += 1
#     else:
#         dict_random[i] = 1

In [196]:
dict_random

{7: 103, 1: 105, 5: 102, 9: 87, 8: 107, 6: 98, 10: 92, 4: 94, 3: 92, 2: 120}

In [192]:
print(dict1)
dict1.get("d", "NONONO")

{'a': 'aaa', 'b': 'banana', 'c': 'cherry'}

'NONONO'